/* font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

section{
    transition: 0.5s;
    overflow: hidden;
    padding: 0 30px;
}



@font-face {
    font-family: "KunstlerScript";
    src: url("fonts/socialico/socialico-webfont.eot");
    src: url("fonts/socialico/socialico-webfont.eot?#iefix") format("embedded-opentype"),
        url("fonts/socialico/socialico-webfont.woff2") format("woff2"),
        url("fonts/socialico/socialico-webfont.woff") format("woff"),
        url("fonts/socialico/socialico-webfont.ttf") format("truetype"),
        url("fonts/socialico/socialico-webfont.svg#socialicoregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* this is a test git shit */
.hamburger {
    position: relative;
    display: none;
    width: 35px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}
.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin: 6px 0px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.hamburger.is-active:before {
    -webkit-transform: rotate(-45deg) translate(-4px, 6px);
    transform: rotate(-45deg) translate(-4px, 6px);
}
.hamburger.is-active:after {
    -webkit-transform: rotate(45deg) translate(-5px, -8px);
    transform: rotate(45deg) translate(-5px, -8px);
}
.hamburger.is-active .bar {
    opacity: 0;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

div,
article,
section,
dl,
dt,
dd,
table,
tr,
td,
ul,
ol,
li,
p,
span,
small,
em,
h1,
h2,
h3,
h4,
h5,
h6,
nav,
figure,
figcaption {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    margin: 0 auto;
    position: relative;
    background: #000000;
}

@media screen and (max-width: 1200px) {
    body {
        min-width: 320px
    }
}

/* cookie consent */
.cc-animate.cc-revoke.cc-bottom {
    font-size: 14px;
    padding: 5px 10px;
    position: fixed;
    display: block !important;
    transform: none !important;
    bottom: 0 !important;
    left: 20px !important;
}

/* call to action */
.destroy-on-load,
.cta {
    display: none;
}


.red_line {
    background: #C9161F;
    width: 108px;
    height: 3px;
    border: 0;
}

.inner-pages{
    background: #FFFFFF;
    width: 100%;
    padding: 50px 30px;
}

/* Header */
header {
    width: 100%;
    margin: 0 auto;
    transition: 0.5s;
}
header.is-scrolling {
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: 0.5s;
}
.menu-content img{
    transition: 0.5s;
    cursor: pointer;
}
header.is-scrolling .menu-content img {
    width: 10%;
    transition: 0.5s;
}

header .tel{
    column-gap: 10px;
}

#header {
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    background: #212121;
    position: relative;
    z-index: 8;
}

#header .header-main {
    max-width: 1520px;
    width: 100%;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 0 20px;
}

#header .header-main .header-content {
    max-width: 848px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}
#header .header-main .header-content p, #header .header-main .header-content a {
    font-size: clamp(0.875rem, 0.875rem + 0.1042vw, 1rem);
    display: flex;
    align-items: center;
}

#header .header-main .header-content a img {
    max-width: clamp(0.5rem, 0.5rem + 1.0313vw, 20.9375rem);
    width: 100%;
}

#header .header-main .soc-med {
    font-family: 'Montserrat', sans-serif;
    color: #EDEDED;
}

#header .header-main p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 28px;
}

#menu nav {
    width: 100%;
}

#menu nav a#pull {
    display: none;
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    max-width: 1090px;
    width: 100%;
    margin-right: 0;
}

#menu ul li a {
    font-size: 16px;
    position: relative;
    letter-spacing: 0.05em;
    color: #DBE8F3;
    border-radius: 30px;
    padding: 17px 26px;
    text-decoration: none;
}

#menu ul li:hover a,
#menu ul li.active-menu a {
    background-color: #ff0000;
    border-radius: 30px;
    color: #ffffff;
}

#menu .menu-main .menu-content .button {
    background-color: #212121;
    color: #fff;
    padding: 10px 25px;
    border-radius: 30px;
    transition: 0.5s ease;
    width: 383px;
    height: 89px;
}

#menu .menu-main .menu-content .button:hover {
    background-color: #EDEDED;
    color: #141414;
    font-weight: 700;
}

#menu .menu-main .menu-content a:hover {
    color: #fff;
    transition: 0.5s ease;
}

#menu .menu-main .menu-content a {
    font-weight: 600;
    transition: 0.5s ease;
    letter-spacing: 2px;
}


#menu {
    width: 100%;
    padding: 10px 0;
    margin: 0 auto;
    background: #000;
    padding: 10px 20px;
}

#menu .menu-main {
    max-width: 1520px;
    width: 100%;
    margin: 0 auto;
}

#menu .menu-main .menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu .menu-main .menu-content {
    color: #FFFFFF;
}

#section_2 {
    width: 100%;
    background: url('../images/common/hero.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: clamp(0.5rem, 0.5rem + 17.0313vw, 20.9375rem);
    padding-bottom: 100px;
}

#section_2 .section_2_content {
    background: #0000008f;
    max-width: 1464px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 10px;
}

#section_2 .section_2_content h2 {
    color: #FFFFFF;
    font-size: clamp(1.875rem, 1.875rem + 1.0417vw, 3.125rem);
    font-weight: 700;
}

#section_2 .section_2_content p {
    color: #FFFFFF;
    font-size: clamp(1rem, 1rem + 0.1042vw, 1.125rem);
    margin-bottom: 20px;
}

#section_2 .section_2_btn_container {
    margin-bottom: -90px;
}

#section_2 .section_2_content .section_2_btn_container img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 50px;
    width: 383px;
    margin-top: 12px;
}

.section_2_btn_container img {
    width: 44px;
}

.section_2_btn_container small {
    font-size: 16px;
}

.section_2_btn_container p {
    font-size: 30px;
}

/* SECTION 3 */

.___section_3 {
    position: relative;
    background: url('../images/gallery/opacity-background.fw.png') no-repeat;
    background-size: cover;
    background-color: #000;
    padding: 68px;
    width: 100%;
}

.___section_3 .___section_3_container {
    /* max-width: 1462px; */
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.___section_3 .___section_3_flex {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
}

.___section_3 .__section_3_card {
    width: 468px;
    height: 556px;
    position: relative;
}

.___section_3 .__section_3_card .__section_3_card_body {
    position: absolute;
    bottom: 0;
    background: rgba(102, 0, 0, .9);
    width: 100%;
    padding: 50px 20px;
    text-align: center;
    color: #ffffff;
}
.___section_3 .__section_3_card .__section_3_card_body h2{
    font-size: clamp(0.5rem, 0.5rem + 1.999vw, 20.9375rem);
}

.__section_3_card_body a {
    padding: 20px 30px;
    background: #000000;
    border-radius: 30px;
    position: absolute;
    transform: translate(-50%, 35%);
    transition: 0.5s ease;
    font-size: clamp(0.5rem, 0.5rem + 0.4167vw, 1rem);
}

.__section_3_card_body .___section_3_btn{
    margin-top: 30px;
}

.__section_3_card_body a:hover {
    background-color: #EDEDED;
    color: #141414;
    font-weight: 700;
}

.___section_3 .__section_3_card_bg_1 {
    background: url('../images/common/mansion.jpg') no-repeat;
}

.___section_3 .__section_3_card_bg_2 {
    background: url('../images/common/pinta.jpg') no-repeat;
}

.___section_3 .__section_3_card_bg_3 {
    background: url('../images/common/pinta2.jpg') no-repeat;
}


.___section_3 .___section_3_container h3 {
    font-size: clamp(1rem, 1rem + 0.1042vw, 1.125rem);
    color: #FFFFFF;
    margin-top: 0;
    line-height: 50px;
}

.___section_3_container h2 {
    font-size: clamp(1.875rem, 1.875rem + 1.7708vw, 4rem);
    color: #FFFFFF;
}

.___section_3_container .text_red {
    color: #C9161F;
    font-size: clamp(1.875rem, 1.875rem + 1.7708vw, 4rem);
    display: inline-block;
}

/* ----------------------- */

/* SECTION 4 */

#section_4 {
    position: relative;
    background-color: #000;
    width: 100%;
    display: flex;
    margin-top: 90px;
}

#section_4 .section_4_content {
    position: relative;
    padding: 68px;
}

#section_4 .section_4_content hr {
    margin: 10px 0;
}

#section_4 .section_4_content h3 {
    font-size: clamp(1rem, 1rem + 0.1042vw, 1.125rem);
    color: #999999;
}

#section_4 .section_4_content h4 {
    font-size: clamp(1.875rem, 1.875rem + 1.7708vw, 4rem);
    color: #ffffff;
}

#section_4 .section_4_content .section_4_sub_title {
    font-size: clamp(1rem, 1rem + 0.1042vw, 1.125rem);
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 50px;
}

#section_4 .section_4_content .text {
    font-size: clamp(0.875rem, 0.875rem + 0.1042vw, 1rem);
    color: #B8B8B8;
    line-height: 25px;
}

.br {
    display: inherit;
    margin-bottom: 15px;
}

.btn-secondary {
    width: 260px;
    height: 60px;
    display: inline-block;
    font-size: 18px;
    color: #ffffff;
    background: linear-gradient(to right, #313131, #212121);
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.5s ease;
    margin-top: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* SECTION 5 */
#section_5 {
    position: relative;
    background-color: #000;
    width: 100%;
    display: flex;
    margin-top: 47px;
}

#section_5 .section_5_content {
    position: relative;
    padding: 68px;
}

#section_5 .section_5_content hr {
    margin: 10px 0;
}

#section_5 .section_5_content h4 {
    font-size: 64px;
    color: #ffffff;
}

#section_5 .section_5_content .text {
    font-size: 16px;
    color: #B8B8B8;
    line-height: 25px;
}

/* SECTION 6 */
#section_6 {
    position: relative;
    background-color: #000;
    width: 100%;
    display: flex;
    margin-top: 47px;
}

#section_6 .section_6_content {
    position: relative;
    padding: 68px;
}

#section_6 .section_6_content hr {
    margin: 10px 0;
}

#section_6 .section_6_content h4 {
    font-size: 64px;
    color: #ffffff;
}

#section_6 .section_6_content .text {
    font-size: 16px;
    color: #B8B8B8;
    line-height: 25px;
}

/* GALLERY */
#gallery_section {
    width: 100%;
    background-color: #000;
    text-align: center;
    padding-top: 50px;
}

.gallery_container {
    display: flex;
    width: 100%;
}

.pictures_left {
    display: flex;
    flex-wrap: wrap;
}

.pictures_right {
    display: flex;
    flex-wrap: wrap;
}

.strp_subr {
    display: flex;
}

.pictures_right .stripe {
    height: 100%;
    width: 50%;
}

.pictures_right .sala {
    height: 100%;
    width: 50%;
}

.pkyu img {
    height: 100%;
}

#gallery_section h3 {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
}

#gallery_section span {
    color: #C9131F;
    font-size: 64px;
    font-weight: 700;
}

#gallery_section p {
    font-size: 64px;
    color: #FFFFFF;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-top: 15px;
    margin-bottom: 25px;
    letter-spacing: 2.5px;
}

/* GALLERY  */
.gallery_wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.gallery_parent_flex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery_right_flex {
    width: 100%;
    display: flex;
}

.gallery_right {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.gallery_left {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.gallery_left_flex img {
    width: 50%;
}

.gallery_left_flex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery_right_flex img {
    width: 50%;
}
.gallery_right_bottom_img,
.gallery_right_top_img {
    width: 100%;
}


/* SECTION 5 */

#footer .footer_container {
    background: url(../images/common/footerbckgrd.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    padding: 40px 30px;
}

#footer .footer-des {
    max-width: 830px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#footer .footer-des h3 {
    color: #fff;
    font-size: 64px;
    font-weight: 700;
    margin: 20px 0;
}
#footer .footer-des p {
    margin: 20px 0;
}

.footer-des .sub-line::after {
    content: '';
    display: block;
    width: 108px;
    height: 3px;
    background-color: #C9161F;
    margin: 0 auto;
}

#footer .footer-des span {
    font-size: 64px;
    font-weight: 700;
    color: #C9161F;
}

#footer .footer-des p {
    font-size: 18px;
    color: #fff;
    letter-spacing: 2px;
}

.contact_information {
    max-width: 890px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.contact_information .mail h4 {
    font-size: 16px;
    font-weight: 600;
    color: #C9161F;
    letter-spacing: 2.5px;
}

.contact_information .mail p {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.contact_information .telephone h4 {
    font-size: 16px;
    font-weight: 600;
    color: #C9161F;
    letter-spacing: 2.5px;
}

.contact_information .telephone p {
    font-size: 28px;
    font-weight: 500;
    color: #fff;
}


.contact_information .location h4 {
    font-size: 16px;
    font-weight: 600;
    color: #C9161F;
    letter-spacing: 2.5px;
}

.contact_information .location p {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.contact_information .location {
    max-width: 134px;
    width: 100%;
}

.contact_information .ci_col {
    max-width: 33.33%;
    width: 100%;
}



.payment_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 755px;
    width: 100%;
    margin-top: 50px;
    margin: 50px auto;
}

.payment_container .payment_choices {
    display: flex;
    align-items: center;
    column-gap: 28px;
}

.payment_container .soc_med {
    display: flex;
    align-items: center;
    column-gap: 28px;
}

.payment_choices h5 {
    font-size: 16px;
    font-weight: 600;
    color: #C9161F;
    letter-spacing: 2.5px;
}

.soc_med h5 {
    font-size: 16px;
    font-weight: 600;
    color: #C9161F;
    letter-spacing: 2.5px;
}

.menu_footer_container {
    width: 100%;
    background-color: #660000;
}

.menu_choices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1014px;
    width: 100%;
    margin: auto;
    padding: 25px;
}

.menu_choices a {
    font-size: 18px;
    font-weight: 500;
    color: #EEEEEE;
    transition: 0.5s ease;
    letter-spacing: 1.5px;
}

.menu_choices a:hover {
    font-size: 19px;
    transition: 0.5s ease;
    background-color: #212121;
    padding: 18px 39px;
    border-radius: 30px;
}

.menu_choices a.menu_menu {
    background: linear-gradient(#313131, #212121);
    padding: 10px 25px;
    border-radius: 30px;
    transition: 0.5s ease;
}

.menu_choices .menu_menu:hover {
    background-color: #FFFFFF;
    font-weight: 700;
    color: #000;
    transition: 0.5s ease;
}

.copyright {
    width: 100%;
    background-color: #000;
    padding: 25px;
}

.copyright {
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 2.5px;
}

/* FOOTER */



/* MEDIA QUERY */

@media screen and (max-width: 1735px) {
    #section_2 {
        width: 100%;
        height: auto;
    }
    .header-content a:nth-child(), 
    .header-content a:nth-child(1),
    .header-content img:nth-child(), 
    .header-content img:nth-child(1), 
    .header-content img:nth-child(2),
    p {
        width: 50%;
    }
    .tel {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 1650px) {
    .wall-container {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        line-height: normal;
    }

    .kitchen-container {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        text-align: center;
        line-height: normal;
    }

    .lawn-container {
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        line-height: normal;
    }
    .title::after {
        margin: auto;
    }
}

@media screen and (max-width: 1600px) {
    #section_2 .section_2_content {
        padding: clamp(0.5rem, 0.5rem + 1.999vw, 20.9375rem);
    }
   
}


@media screen and (max-width: 1500px) {
    .menu-content img {
        width: 30%;
}

#section_2 .section_2_content {
    padding: clamp(0.5rem, 0.5rem + .999vw, 20.9375rem);
}

.section_2_btn_container img {
    transform: translate(10px, -15px);
    max-width: 80%;
    display: inline-block;
}

@media screen and (max-width: 1440) {
    #menu .menu-main .menu-content {
        align-items: center;
    }
}

@media screen and (max-width: 1430px) {
    section#section_4 img,
    section#section_5 img,
    section#section_6 img {
        width: 50%;
        object-fit: cover;
    }
    .menu-content img {
        width: 30%; 
}
}

@media screen and (max-width: 1400px) {
    #hero .hero-img {
        width: 50%;
    }

    .hero-img img {
        width: 100%;
    }
    #menu nav {
        width: 75%;
    }
    .header-main {
        width: 70%;
    }
    .menu_content img {
        width: 20%;
}
}

@media screen and (max-width: 1300px) {
    .___section_3 .___section_3_flex {
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 50px;
        text-align: center;
    }
    .__section_3_card_body a{
        position: relative;
        transform: translate(0, 0);
    }
}

@media screen and (max-width: 1024px) {
    .___section_3 .__section_3_card_body a {
        transform: translate(-50%, 40%);
    }
    #section_5 .section_5_content,
    #section_6 .section_6_content,
    #section_4 .section_4_content {
        position: relative;
        padding: 50px 30px;
    }
} 


/* mobile */
@media screen and (max-width: 995px) {
    .header-content p {
        font-size: 5vw;
    }

    #header .header-main .header-content img {
        width: 20%;
    }

    .section_2_btn_container img {
        transform: translate(10px, -15px);
        max-width: 80%;
        display: inline-block;
    }
    section#section_4 img,
    section#section_5 img,
    section#section_6 img {
        width: 100%;
        object-fit: cover;
    }
    #section_4, #section_6{
        flex-direction: column;
    }
    #section_5{
        flex-direction: column-reverse;
    }
    #section_4 .section_4_content,
    #section_5 .section_5_content,
    #section_6 .section_6_content{
        width: 100%;
    }
    .hamburger{
        display: block;
    }

    .menu-content{
        position: absolute;
        background: #000000;
        left: 0;
        padding: 10px 40px;
        width: 100%;
        z-index: 1;
    }
    #menu nav {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #000000;
        z-index: -1;
        padding: 180px 20px;
        transform: translateY(-130%);
        height: 100vh;
    }
    
    .menu-content nav ul{
        flex-direction: column;
        row-gap: 40px;
    }

    #header .header-main .header-content {
        flex-direction: column;
        row-gap: 10px;
    }
    .contact_information{
        flex-wrap: wrap;
        row-gap: 20px;
    }
    .contact_information .ci_col{
        max-width: 100%;
    }
    .payment_container .payment_choices,
    .payment_container .soc_med {
        flex-direction: column;
        row-gap: 10px;
    }
    .payment_container {
        flex-direction: column;
        row-gap: 20px;
    }
    .menu_choices {
        flex-direction: column;
        row-gap: 20px;
    }
    .gallery_parent_flex,
    .gallery_right_flex,
    .gallery_left_flex{
        flex-direction: column;
    }
    .gallery_right_flex img {
        width: 100%;
    }
    .gallery_left_flex img,
    .gallery_right,
    .gallery_left {
        width: 100%;
    }
}


@media screen and (max-width: 700px) {
    .___section_3 {
        padding: 50px;
    }
}

@media screen and (max-width: 550px) {
    .___section_3_container .red_line {
        width: 70px;
    }
    .footer_container .footer-des img {
        width: 70%;
    }
}

@media screen and (max-width: 500px) {
    .footer_container .contact_information img {
        width: 15%;
    }
}

@media screen and (max-width: 351px) {
    .header-content {
        text-align: left;
        flex-wrap: wrap;
        flex-direction: column;
        row-gap: 5px;
        margin-left: auto;
    }
}
